*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #F3E9DC;
}
header {
    font-size: 1.25em;
    background-color: #2B2D42;
    padding: 2.1em;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.300);
}
#logo {
    font-size: 1.50em;
    font-weight: bold;
    margin-right: 20px;
}
#menu {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.7em;
}
ul.menu-links a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
    display: inline-block;
    border: 2px solid transparent;
}
.menu-links a:hover {
    background-color: whitesmoke;
    padding: 0.6em 0.7em;
    color: black;
    font-weight: bold;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.377);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
#login {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #1e202e;
    padding: 0.8em 0.7em;
    border: 1px solid rgba(0, 0, 0, 0.300);
    border-radius: 30px;
    transition: 0.3s;
}
#login:hover {
    color: #1e202e;
    background-color: #c7c7d3;
}